<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.robbertvanbeek.meistro" version="2.0.4" versionCode="70">
	<name>Meistro</name>
	<description>Meistro app van De Harmonie Barneveld, vol informatie over Meistro.</description>
	<author href="www.deharmoniebarneveld.nl" email="info@deharmoniebarneveld.nl">De Harmonie Barneveld</author>
	<content src="index.html"/>
	<preference name="permissions" value="none"/>
	<preference name="orientation" value="portrait"/>
	<preference name="target-device" value="universal"/>
	<preference name="fullscreen" value="true"/>
	<preference name="webviewbounce" value="true"/>
	<preference name="prerendered-icon" value="true"/>
	<preference name="stay-in-webview" value="false"/>
	<preference name="ios-statusbarstyle" value="black-opaque"/>
	<preference name="detect-data-types" value="true"/>
	<preference name="exit-on-suspend" value="false"/>
	<preference name="show-splash-screen-spinner" value="true"/>
	<preference name="auto-hide-splash-screen" value="true"/>
	<preference name="disable-cursor" value="false"/>
	<preference name="android-minSdkVersion" value="7"/>
	<preference name="android-installLocation" value="auto"/>

	<icon src="icon.png"/>
	<icon src="icon-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
	<icon src="icon-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
	<icon src="icon-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
	<icon src="icon-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
	<icon src="icon-xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi"/>
	<icon src="icon-xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi"/>
	
	<icon src="icon.png" gap:platform="ios" width="57" height="57"/>
	<icon src="Icon-2x.png" gap:platform="ios" width="114" height="114"/>
	<icon src="Icon-60.png" gap:platform="ios" width="60" height="60"/>
	<icon src="Icon-72.png" gap:platform="ios" width="72" height="72"/>
	<icon src="Icon-72-2x.png" gap:platform="ios" width="144" height="144"/>
	<icon src="Icon-76.png" gap:platform="ios" width="76" height="76"/>
	<icon src="Icon-76-2x.png" gap:platform="ios" width="152" height="152"/>
	<icon src="Icon-Small-50.png" gap:platform="ios" width="50" height="50"/>
	<icon src="Icon-Small-50-2x.png" gap:platform="ios" width="100" height="100"/>
	<icon src="Icon-60-2x.png" gap:platform="ios" width="120" height="120"/>

	<gap:splash src="Default.png" gap:platform="ios" width="320" height="480"/>
	<gap:splash src="Default2x.png" gap:platform="ios" width="640" height="960"/>
	<gap:splash src="Default-568h2x.png" gap:platform="ios" width="640" height="1136"/>
	<gap:splash src="Default-667h2x.png" gap:platform="ios" width="750" height="1134"/>
	<gap:splash src="Default-Portrait" gap:platform="ios" width="768" height="1024"/>
	<gap:splash src="Default-Portrait2x" gap:platform="ios" width="1536" height="2048"/>
	<gap:splash src="Default-Portrait-736h3x" gap:platform="ios" width="1242" height="2208"/>

	<gap:plugin name="org.apache.cordova.network-information"/>
	
	<plugin name="cordova-plugin-whitelist" />	
	<allow-navigation href="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<access origin="*" />

	<gap:config-file platform="ios" parent="UIStatusBarHidden" overwrite="true"> 
		<true/> 
	</gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
		<false/>
	</gap:config-file>
</widget>
