@font-face {
    font-family: "LisztFY-Light";
    src: url("./fonts/LisztFY-Light_S.otf") format("opentype");   
  }
  
@font-face {
    font-family: "LisztFY-Black";
    src: url("./fonts/LisztFY-Black_S.otf") format("opentype");   
  }  
  
body {
	background: black;
	background-image: url('../img/background.png');
	background-repeat: none;
	background-size: auto;
  background-attachment: fixed;
  background-position: 0 0px;
}

div.info-container {
	bottom: 3em;
	width: 100%;
	padding: 1em 0em 1em 1em;
	display: block;
	position: absolute;
}

div.concert-datum{
	background-color: #FDC513;
	color: black;
	font-size: 3em;
	display: inline;
	padding: 5px;
	border-bottom: 0px;
  font-family: "LisztFY-Light";
}

div.concert-titel {
	display: block;
	border-bottom: 1px solid white;
	border-right: 0px;
	padding: 8px;
	margin-top: 1px;
	font-size: 4em;
  letter-spacing: 4px;
	margin-right: 1px;
	color: white;
  font-family: "LisztFY-Black";
}

div.concert-content {
	margin-top: 100vh;
	display:block;
  text-align: center;
  font-family: "LisztFY-Light";
  color: #FDC513;
  letter-spacing: 2px;
  font-size: 1.5em;
}

div.nieuwsberichten {
  display:block;
}

div.nieuwsitem {
  display:block;
  margin: 1em;
  padding: 0.2em 1em 0em 1em;
  color: white;
  background-color:rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}

div.concert-achtergrondinfo {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  margin: 1em;
  color: white;
  background-color:rgba(0, 0, 0, 0.5);
}

div.concert-achtergrondinfo-concert {
  padding: 0em 0em 1em 1em;
  margin-top: 1em;
  display: inline-block;
  font-size: 1.2em;
}

div.concert-achtergrondinfo-button {
	background-color: #FDC513;
	color: black;
	display: block;
	padding: 5px;
  font-family: "LisztFY-Light";
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  width: 14em;
}

a:hover {
  text-decoration: none;
}

.nav-tabs{
  color: white;
  display: inline;
  margin: 0px;
}
.tab-content{
  color: white;
}
.nav-tabs > li{
  width: 50%;
  text-align:center;
}
.nav-tabs > li > a{
  border: 1px solid white;    
  padding: 0.5em;
  font-family: "LisztFY-Light";
  font-size: 1.2em; 
  border-radius: 0px;
  background-color: #494949;
  color: white;
}
.nav-tabs > li > a:hover{
    background-color: #303136 !important;
    border: 1px solid none;
    border-radius: 0;
    
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: transparent !important;
    border: medium none;
    color: white;
}